:root {
  --primary-color: #2c9fa3;
  --primary-color-2: #9fb7b1;
  --secondary-color: #cbe4de;
  --tertiary-color: #2e4f4f;
  --color-bg-hover-light: #a4d4d6;
  --color-bg-hover-dark: #0e7b7f;
  --color-bg-content: #f2f7f6;
  --quaternary-color: #2c3333;
  --primary-font-family: "Roboto Mono", monospace;
  --secondary-font-family: "Poppins", serif;
  --primary-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h1 {
  font-family: var(--primary-font-family);
  color: var(--primary-color);
  background-color: transparent;
  line-height: 1.25em;
  font-size: 52px;
  margin-bottom: 25px;
}

h2,
h3 {
  color: var(--primary-color-2);
  font-family: var(--secondary-font-family);
}

h4 {
  color: var(--primary-color);
  font-family: var(--primary-font-family);
  margin-bottom: 17px;
  margin-top: 17px;
}

p {
  color: var(--tertiary-color);
  font-family: var(--secondary-font-family);
  line-height: 1.7;
}

.about-section {
    padding-bottom: 10px;
}

.about-section-content {
    padding: 20px 50px;
    text-align: start;
}

.about-section-welcome {
    background-color: var(--color-bg-content);
    border-radius:6px;
}

.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 15px 0;
  text-align: center;
  border-radius: 4px;
}

a .fa-solid {
  color: var(--primary-color-2);
}

.fluid-container {
  margin: auto 5px;
}

.primary-button {
  color: var(--primary-color);
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-size: 18px;
  padding: 10px 20px;
}

.primary-button:hover {
  color: white;
  background-color: var(--color-bg-hover-light);
}

.row {
  margin: 0 60px;
}

.secondary-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color-2);
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-size: 15px;
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.secondary-button:hover {
  color: var(--secondary-color);
  background-color: var(--color-bg-hover-dark);
  border: 1px solid var(--secondary-color);
}

.project-content {
  background-color: var(--color-bg-content);
  padding: 30px 100px;
  border-radius: 4px;
}

.profilefoto {
  margin: 30px auto;
  max-width: 263px;
  max-height: 263px;
}

.quote {
  font-family: var(--secondary-font-family);
  color: var(--primary-color-2);
}

@media (max-width: 1300px) {
  .project-img {
    margin-top: 30px;
  }
  .project-content {
    padding: 5px 20px;
  }
  .row {
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  h4 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .about-section-content {
    text-align: center;
  }

  .btn {
    display: block;
    max-width: 350px;
    margin: 10px auto;
  }

  .img-about-me {
    margin-top: 20px;
  }

  .primary-button {
    max-width: 160px;
    margin: 10px auto;
  }

  .project-content {
    padding: 5px 20px;
  }

  .project-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: var(--primary-box-shadow);
  }

  .row {
    margin: 0 auto;
    padding: 5px 10px;
  }

  .welcome-message {
    text-align: center !important;
  }
}

@media (max-width: 581px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h4 .quote {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }

  .fa-solid {
    display: block;
    margin-top: 5px;
  }
}

@media (max-width: 391px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 18px;
  }

  h4 .quote {
    font-size: 11px;
  }
  .fa-solid {
    display: block;
    margin-top: 5px;
  }
  .profilefoto {
    max-height: 168px;
  }
}
